{% for job in vzdump_jobs %}
vzdump: {{job.name}}
        {% if job.vmid is not none %}
        vmid: {{job.vmid}}
        {% endif %}
        schedule {{job.schedule}}
        all {{job.all}}
        compress zstd
        enabled {{job.enabled}}
        mailnotification always
        mode {{job.mode}}
        notes-template {{ '{{guestname}}' }}
        prune-backups {{job.prune_backups}}
        storage {{job.storage}}
{% endfor %}