#!/usr/bin/env bash

export RESTIC_REPOSITORY={{restic_repository}}
export RESTIC_PASSWORD_FILE=/etc/restic/repository_password
export RESTIC_COMPRESSION={{restic_compression}}
export B2_ACCOUNT_ID={{restic_b2_account_id}}
export B2_ACCOUNT_KEY={{restic_b2_account_key}}

restic backup {{restic_backup_dir}}